.storeCSS {
  background-color: white;
  max-width: 600px;

  margin: 20px auto;
  border-radius: 2px;
  border: .25px lightgrey solid;
}

.border {
  border: solid white 20px;
  border-radius: 25px;
  background-color: white;
  margin: 10%;
}